# AWS
AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_ACCESS_KEY
AWS_REGION=YOUR_AWS_REGION

# Deployment
# We upload a zip file to AWS S3, which is used to deploy the Lambda function.
# DEPLOYMENT_BUCKET is the S3 bucket where the zip file will be stored.
DEPLOYMENT_LAMBDA_FUNCTION_NAME=YOUR_LAMBDA_FUNCTION_NAME
DEPLOYMENT_ZIP_FILE=YOUR_ZIP_FILE_NAME
DEPLOYMENT_BUCKET=YOUR_DEPLOYMENT_BUCKET

# External API
EXTERNAL_API_AD_DELETE_LAMBDA_KEY=YOUR_AD_DELETE_LAMBDA_KEY

# JWT
JWT_SECRET=YOUR_JWT_SECRET
# Number of seconds until the JWT expires
JWT_EXPIRATION=86400

# API Key
# Salt used for hashing API keys (should be a long random string)
API_KEY_SALT=YOUR_API_KEY_SALT

# S3 Buckets
# The observations bucket is where the data from MOAT is stored.
# The metadata bucket is where dashboard-generated data is stored.
BUCKETS_OBSERVATIONS=YOUR_OBSERVATIONS_BUCKET
BUCKETS_METADATA=YOUR_METADATA_BUCKET

# OpenSearch
OPEN_SEARCH_ENDPOINT=YOUR_OPEN_SEARCH_ENDPOINT

# PostgreSQL
POSTGRES_HOST=YOUR_POSTGRES_HOST
# Replace with actual port number
POSTGRES_PORT=5432
POSTGRES_DATABASE=YOUR_POSTGRES_DATABASE
POSTGRES_USERNAME=YOUR_POSTGRES_USERNAME
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD

# CILogon
CILOGON_CLIENT_ID=YOUR_CILOGON_CLIENT_ID
CILOGON_CLIENT_SECRET=YOUR_CILOGON_CLIENT_SECRET
CILOGON_METADATA_URL=YOUR_CILOGON_METADATA_URL
CILOGON_REDIRECT_URI=YOUR_CILOGON_REDIRECT_URI

# App
APP_STATE_COOKIE_SECRET=YOUR_STATE_COOKIE_SECRET
APP_SALT=YOUR_SALT
APP_FRONTEND_URL=YOUR_FRONTEND_URL

# Test credentials (should be credentials of an existing test account)
TEST_USERNAME=YOUR_TEST_ACCOUNT_USERNAME
TEST_PASSWORD=YOUR_TEST_ACCOUNT_PASSWORD

# OpenStack
OS_USERNAME=YOUR_OS_USERNAME
OS_PASSWORD=YOUR_OS_PASSWORD
OS_PROJECT_NAME=YOUR_OS_PROJECT_NAME
OS_PROJECT_ID=YOUR_OS_PROJECT_ID
OS_TEMP_URL_KEY=YOUR_OS_TEMP_URL_KEY

# SQS / Exports
SQS_QUEUE_URL=YOUR_SQS_QUEUE_URL
EXPORTS_BUCKET_NAME=YOUR_EXPORTS_BUCKET_NAME
